<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>



<main class="bg-[#d4ddc8] min-h-screen w-full" role="main">

  <div class="max-w-2xl mx-auto pt-10">
    <h1 class="text-4xl font-light text-white text-center uppercase mb-10">
      Registration form
    </h1>

    <app-user-form></app-user-form>
  </div>
  <div class="max-w-5xl mx-auto py-10">
    <app-users-table></app-users-table>
  </div>
</main>
<router-outlet></router-outlet>
