.bordered{
  @apply border-[6px] border-solid border-[#d4ddc8] rounded-lg ring-1 ring-white;
}
.button{
  @apply px-4 py-2 font-semibold text-sm  text-white rounded shadow-sm;
}

.form-input{
  @apply px-2 py-1 font-medium w-full placeholder:text-gray-500 outline-none focus:ring-2 text-gray-600;
}

.icon{
  @apply w-8 h-8;
}

.icon-label{
  @apply absolute -left-12 ;
}

.error{
  @apply text-red-400 text-xs mt-1 ml-1 font-semibold;
}
